.logo{
    height: 120px;
    width: 360px;
}
.google_image {
	width: 550px ;
 	margin-left: auto ;
  	margin-right: auto ;;
}
#header {
	width: 120%;
	height: 25px;
	background-color: #2E2E2E;
	margin-top: -10px;
	margin-left: -10px;
}